---
import TagBadge from "@/components/TagBadge.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const pageTitle = post.data?.title ?? "Post";
const pageDescription = post.data?.description ?? "";
const pageImage = post.data?.thumbnail?.src ?? "/images/site-default.png";
---

<PageLayout title={pageTitle} description={pageDescription} image={pageImage} includePagefind={true}>
  <h1 class="my-4">{post.data.title}</h1>
  <p class="fs-4 fw-lighter">{post.data.description}</p>
  <div class="mb-3">
    {post.data.tags && post.data.tags.length > 0 ? post.data.tags.map((t: string) => <TagBadge tag={t} />) : <TagBadge tag="Uncategorized" />}
  </div>
  <Content />
</PageLayout>
