---
import TagBadge from "@/components/TagBadge.astro";
import PageLayout from "@/layouts/PageLayout.astro";
import { toFriendlyDate } from "@/utils/dates";
import { getAllPosts } from "@/utils/posts";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = (await getAllPosts());
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const pageTitle = post.data?.title ?? "Post";
const pageDescription = post.data?.description ?? "";
const pageImage = post.data?.thumbnail?.src ?? "/images/site-default.png";
const isDraft = (post.data?.draft ?? false) || post.id.includes("drafts/");
---

<PageLayout title={pageTitle} description={pageDescription} image={pageImage} includePagefind={true} isDraft={isDraft}>
  <h1 class="my-4">{post.data.title}</h1>
  <p class="fs-4 fw-lighter">{post.data.description}</p>
  <div class="mb-3">
    <span class="text-body-secondary">Posted on</span>
    <time datetime={post.data?.date.toISOString()}>{toFriendlyDate(post.data?.date)}</time>
    {post.data.tags && post.data.tags.length > 0 ? post.data.tags.map((t: string) => <TagBadge tag={t} />) : <TagBadge tag="Uncategorized" />}
  </div>
  <Content />
</PageLayout>
